:root {
  --sidebar-width: 270px;
  --canvas-full-width: calc(100vw - var(--sidebar-width) - 40px);
  --canvas-full-height: calc(var(--canvas-full-width) * 2 / 3);
}

#log-sidebar {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 100vh;
}

#log-text {
  margin-left: 1em;
}

#webgl-canvas {
  border: 2px solid lightslategray;
  width: var(--canvas-full-width);
  height: var(--canvas-full-height);
}
